body {
  margin-top: 0;
  overflow-x: hidden;
}

#top {
  background: url(Asset/Images/nav_bar_bg.png) no-repeat top center;
  width: auto;
  height: 65px;
  margin-top: 15px;
}

#nfLogo {
  background: url(Asset/Images/nf_logo.png) no-repeat top center;
  width: 116px;
  height: 94px;
  margin-left: 300px;
  margin-top: -13.8px;
  padding-top: 0;
  display: inline-flex;
}

#name {
  background: url(Asset/Images/name.png) no-repeat top center;
  width: 241px;
  height: 24px;
  float: right;
  margin-right: 1110px;
  margin-top: 21px;
}

ul {
  color: black;
  display: inline-flex;
  list-style: none;
  margin-left: 1000px;
  margin-top: 37px;
}

li {
  padding: 0 20px;

}

#welcome {
  background: url(Asset/Images/welcome.jpg) no-repeat top center;
  width: auto;
  height: 351px;
  margin-top: 20px;
}

.line {
  background: url(Asset/Images/line_mark.png) no-repeat top center;
  display: block;	
  width: auto;
  height: 20px;
  margin-top: 5px;	
}

#skills {
  background: url(Asset/Images/skills.jpg) no-repeat top center;
  width: auto;
  height: 838px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#works {
  background: url(Asset/Images/projects.jpg) no-repeat top center;
  width: auto;
  height: 871px;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

#p1 {
  position: relative;
  left: 580px;
  top: 140px;
  border-radius: 5px;
}

#p2 {
  position: relative;
  left: 670px;
  top: 140px;
  border-radius: 5px;
}

#p3 {
  position: relative;
  left: -68px;
  top: 380px;
  border-radius: 5px;
}

#p4 {
  position: relative;
  left: 24px;
  top: 380px;
  border-radius: 5px;
}

#coming {
  position: relative;
  left: -528px;
  top: 600px;
  border-radius: 5px;
}

#contact {
  background: url(Asset/Images/contacts.jpg) no-repeat top center;
  width: auto;
  height: 575px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#call {
  font-size: 45px;
  position: relative;
  left: 1000px;
  top: 137px;
  overflow: hidden;
}

#call:hover {
  color:white;
}

#mail {
  font-size: 40px;
  position: relative;
  left: 915px;
  top: 150px;
}

#mail:hover {
  color: white;
}

#gitHub {
  font-size: 40px;
  position: relative;
  left: 1000px;
  top: 180px;
}

#linkedIn {
  font-size: 40px;
  position: relative;
  left: 760px;
  top: 275px;

}
  